<section class="newPost">
    <button type="submit" class="btn" id="create-new-post">You can create a new post</button>
</section>

{{#if post.lenght}}
<section>
    <h3>Dashboard</h3>
</section>
{{/if}}